/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo global para .grupos-container */
  .grupos-container {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .grupos-container .container {
    width: 90%;
    max-width: 1200px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-top: 0px;
  }
  
  .grupos-container h1 {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .grupos-container .no-grupos {
    text-align: center;
    font-size: 18px;
    color: #ff4d4d;
    font-weight: bold;
  }
  
  .grupos-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .grupos-container th,
  .grupos-container td {
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ddd;
  }
  
  .grupos-container th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
  }
  
  .grupos-container tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .grupos-container tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .grupos-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .grupos-container button:hover {
    background-color: #45a049;
  }
  
  .grupos-container form {
    display: inline;
  }
  